body {
  background-color: transparent;
}

html {
  background: url("../../assets/images/stage.jpg") no-repeat center center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}